nav {
    background-color: #EEAFBB;
    /* border: red solid 2px; */
    height: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 3px #c7c7c7;

}
.logo{
    margin-left: 1rem;
    height: 80px;
    width: 80px;
    /* border: orange solid 2px; */
}
.logo img{
    width: 95%;
    height: 95%;
    border-radius: 50%;
}
.navigation {
    /* border: aqua solid 2px; */
    display: flex;
    justify-content: space-evenly;
}
.secciones-nav {
    padding: 0;
    /* border: blue solid 2px; */
    min-width: 500px;
    max-width: 800px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    text-decoration: none;
	list-style: none;
    
    display: flex;
    justify-content: space-evenly;
}

.secciones-nav li{
    /* border: hotpink solid 2px; */
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
}
.secciones-nav li:hover{
    color: #B4844E;
}
.contact {
    /* border: black solid 2px; */
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #88283B;
}
.contact p {
    font-size: 1.8rem;
    padding: 1rem;

    border: 2.5px solid #88283B;
    border-radius: 2rem;
}
.contact p:hover{
    border-color: #B46C4E;
    color: #B46C4E;
    cursor: pointer;
}
.main-message{
    height: 30rem;
    background-image:url("@pics/background.jpg") ;
    text-align: center;
    color: #CC7888;
}
.main-message h1{
    font-size: 5rem;
    padding-top: 4rem;
}
.main-message h2{
    font-size: 3.6rem;
    padding-top: 1rem;
}
.portfolio{
    height: 60rem;
    background-color: #58758E;
    border: #365674 solid 2px;

}
.portfolio h2{
    font-size: 3.6rem;
    text-align: center;

    padding: 2rem 0;
}
.port-draws{
    height: 50rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    border: black solid 1px;
}
.port-draws .section-box{
    /* border: black solid 1px; */
    
    display: flex;
    flex-direction: column;
    text-align: center;
}
.section-box p{
    font-size: 2.6rem;
    font-weight: 600;
}
.section-box a{
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
}
.subsection-box{
    display: flex;
    flex-direction: row;
}
.port-box{
    // background-color: lightblue;

    height: 40rem;
    width: 40rem;
    border: 1px solid hotpink;
    margin: 1rem;

    border-radius: 20px;
}
.port-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.seccion-convencer{
    height: 40rem;
    background-color: #CC7888;

}
.argument{
    display: flex;
    flex-direction: row;

    margin: 0 2rem;
    padding: 2rem 0;

    justify-content: space-between;
}
.argument div{
    margin: 3rem;
}
.argument :nth-child(1){
    height: 300px;
    width: 500px;

    font-size: 8rem;
    font-weight: 600;
    padding: 0rem 2rem;
    /* border: #365674 solid 2px; */
}
.argument :nth-child(2){
    height: 300px;
    width: 700px;
    font-size: 2.4rem;
    /* border: goldenrod solid 2px; */

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.selling{
    height: 60rem;
    background-color: #58758E;
}
.selling .message{
    padding: 4rem 0;
    font-size: 5rem;
    font-weight: 600;
    text-align: center;

}
.contacto{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    /* border: blue solid 2px; */

    height: 200px;

}
.sub-contacto{
    font-size: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.sub-contacto div{
    width: 600px;
}
.sub-contacto :nth-child(1){
    text-align: center;

    font-size: 4rem;

    /* border: red solid 2px; */
}
.medio-pago p{
    font-size: 10px;
    // border: red solid 2px;

}
.contacto :nth-child(2){
    font-size: 4rem;
    text-align: center;
    margin: 2rem;
}
.contacto :nth-child(2) a{
    font-size: 4rem;
    font-weight: 600;
    /* text-decoration: none; */

    color: black;
}
.contacto :nth-child(2) a:hover{
    color: #EEAFBB;

}
footer{
    border-top: solid 1px #58758E;

    background-color: #365674;
    height: 20vh;
}

@media (max-width:1130px){
    .portfolio{
        height: 110rem;
    }
    .port-draws{
        flex-direction: column;

        margin-top: 20rem;
    }
    .section-convencer{
        height: 50rem;
    }
    .argument :nth-child(1){

        margin: 2rem;
        padding-top: 0rem;
    }

}

@media (max-width: 1000px){
    .argument{
        flex-direction: column;
        align-items: center;

        // border: solid 1px blue;

    }
    .argument :nth-child(1){
        // border: solid 1px red;
        width: 90vw;
        height: 10rem;
        text-align: center;

        margin: 0;
    }
    .argument :nth-child(2){
        // border: solid 1px green;
        width: 90vw;
        text-align: center;
        height: 200px;

        margin: 2rem;
        padding: 0;
    }
}
@media (max-width:800px){

}

@media (max-width:400px){
    // .portfolio{
    //     height: 160rem;
    // }
    // .port-draws{
    //     flex-direction: column;

    //     margin-top: 68rem;
    // }
    // .port-box{
    //     height: 35rem;
    //     width: 35rem;
    // }

    // .subsection-box{
    //     flex-direction: column;
    // }

    .argument {
        flex-direction: column;
    }
}

/* 
    This is the URL to the paletton combinations
    https://paletton.com/#uid=55v0p0kd6rs4qJO8uwWi7mDmDik 


    Data for the html and maquetation:

    Herencia Familiar
    Artist
    ¿Amas el arte? ❤
    ¡Nosotros también! 🎨🖌🤗
    Regala o decora con arte 🥰
    Envíos a todo Chile 📦
    👇🏻Haz tu pedido aquí👇🏻
    wa.me/56966016968

    +569 6601 6968

*/